.App {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #faebd7;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: white;
}

.board-container {
  display: flex;
  flex-direction: column;
}

.square-container {
  display: flex;
}

.color-selector {
  padding-bottom: 20px;
}
input {
  margin: 0.5em;
}
